# nette extensions
extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	generator: Drago\Generator\DI\GeneratorExtension

# generator
generator:
	# base (typical of Oracle)
	lower: false

	# generator entity
	path: %appDir%/Entity
	tableName: 'Table'
	primaryKey: 'PrimaryKey'
	columnInfo: false
	constant: true
	constantSize: false
	references: false
	suffix: Entity
	extendsOn: true
	extends: Drago\Database\Entity
	final: false
	namespace: App\Entity

	# generator data class
	pathDataClass: %appDir%/DataClass
	constantDataClass: true
	constantSizeDataClass: true
	referencesDataClass: false
	suffixDataClass: Data
	extendsDataClass: Drago\Utils\ExtraArrayHash
	finalDataClass: false
	namespaceDataClass: App\Data


# symfony console
console:
	name: Symfony Console
	version: '1.0'


# database connection
dibi:
	host: localhost
	username:
	password:
	database:
	driver: mysqli
	lazy: true
