extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	generator: Drago\Generator\DI\GeneratorExtension


dibi:
	driver: mysqli
	host: 127.0.0.1
	username: root
	password:
	database: test
	lazy: true


console:
	name: Symfony Console
	catchExceptions: false
	autoExit: false
	lazy: false


generator:
	path: %appDir%/Model/Entity
	namespace: App\Model\Entity
